* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}
body {
  background: linear-gradient(to right, #00C0FF, #4218B8);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: black;
}

h1{
  color: white;
}

#PC-input-div {
  margin-top: 3rem;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}



#PC-input-div p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}



input{
  width: 80%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 2px solid #74b9ff;
  border-radius: 8px;
  margin-bottom: 1rem;
}
button{
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #0984e3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#result {
  margin-top: 1.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2d3436;
  padding-top: 1rem;
}

#palindrome-explanation {
  margin-top: 3rem;
  font-size: 1.2rem;
  text-align: center;
  max-width: 600px;
  color: white;
}

button:hover{
  background-color: #74b9ff;
}